<div class="container">
  <%- partial('/component/timeline') %>
  <nav class="page-navigation">
    <% if(page.prev !== 0){ %>
      <a href="<%- url_for(page.prev_link)%>">上一頁</a>
    <% } %>
    <% if(page.next !== 0){ %>
      <a href="<%- url_for(page.next_link)%>">下一頁</a>
    <% } %>
  </nav>
</div>
